
body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #acabb0;
background-image: linear-gradient(326deg, #a4508b 0%, #e01c34 74%);;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #acabb0;
background-image: linear-gradient(315deg, #acabb0 0%, #e01c34 74%);
}

ul.topnav li a.active {background-color: #c11d38;
background-image: linear-gradient(326deg, #e0455f 0%, #44000b 74%);
;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

#frame{

  position : relative;

}

/*background-color: #e0455f;
background-image: linear-gradient(147deg, #e0455f 0%, #44000b 74%);
background-color: #acabb0;
background-image: linear-gradient(315deg, #acabb0 0%, #e01c34 74%);*/