<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>
</head>
<body>
    <form action="" method="POST"><input type="text" placeholder="email" name="forpassemail"><input type="submit" value="email" name="subemail"></form>
</body>
</html>