<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot password</title>
    <%- include('helpers/head'); -%>
    <link href="/css/custom/forgotpassword.css" rel="stylesheet" type="text/css">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top py-4" id="main-nav">
        <div class="container">
          <a href="login.ejs" class="navbar-brand">
            <img src="img/logo2.png" width="50" height="50" alt="">
            <h3 class="d-inline align-middle">Matcha</h3>
          </a>
        </div>
      </nav>
      <section id="showcase" class="py-5">
        <div class="primary-overlay text-white">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 text-center">
                <h5 class="display-2 mt-5 pt-5">
                  Swipe right. Meet up....
                </h5>
                <% if (success) {%>
                  <div class="alert alert-info" role="alert">
                    <%=message%>
                  </div>
                  <% } %>
                  <% if (!success) {%>
                    <div class="alert alert-warning" role="alert">
                      <%=message%>
                    </div>
                  <% } %>
                <div class="card bg-primary text-center card-form">
                  <div class="card-body">
                    <h3>Reset Password</h3>
                      <form action="" method="POST">
                        <div class="form-group">
                          <input type="email" class="form-control form-control-lg" name="forpassemail" placeholder="Email" required
                          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Something like 'user@mail.domain'. small caps only">
                          <input type="submit"  name="subemail" class="btn btn-outline-light btn-block">
                        </div>
                      </form>
                      <p><i>already have an account.....</i><a href="login"><strong> LOG IN!</strong></a></p>
                      <p><i>not registered.....</i><a href="register"><strong> SIGN UP!</strong></a></p>
                    </div>
                  </div>
                </div>
              <div class="col-lg-6">
                <img src="/img/background.jpeg" alt="" class="img-fluid d-none d-lg-block">
              </div>
            </div>
          </div>
        </div>
      </section>
    <%- include('helpers/footer'); -%>
</body>
</html>