<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Home</title>
      <%- include('helpers/head'); -%>
      <link href="/css/custom/home.css" rel="stylesheet" type="text/css">
    </head>
    <body>
      <!-- header -->
        <%- include('helpers/header'); -%>

        <!-- Notifications template -->
        <% notifications.forEach( ({ notification }) => {%>
        <div class="card">
          <div class="card-body">
            <%=notification%>
          </div>
        </div>
        <%})%>
        <!-- Notifications template -->

        <!-- footer -->
        <%- include('helpers/footer'); -%>
    </body>
</html>
