body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-align: center;
} 

p{
	color: #8f8f8f;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	line-height: 1.5;	
}

.details-img{
   width:100%;
   height: 50vh;
}