
/* new styling below */
body {
  margin-top: 105px; }

.navbar {
  box-shadow: 2px 2px 5px #A00000;
  opacity: 0.9;
  background: #ffffff; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; }

#showcase {
  position: relative;
  background: url("/img/background2.jpeg");
  /* background-size: cover; */
  min-height: 800px; }
  #showcase .primary-overlay {
    background: rgba(204, 79, 57, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

@media (max-width: 768px) {
  #showcase {
    min-height: 500px; }
    #showcase h5 {
      font-size: 4rem; } }
#showcase .card-form {
  opacity: 0.8; }

#showcase .card-body {
  background-color: #3f0d12;
  background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
 }

#home-section .fas {
  color: #a71d31;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

#main-footer .footer-company-name {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: slategray;
}

