<footer class="footer-distributed">

    <div class="footer-left">

        <h3>Mat<span>cha</span></h3>
        <p class="footer-links">
            <a href="#">Home</a>
            ·
            <a href="#">Register</a>
            ·
            <a href="#">Login</a> 
            .
        </p>

        <p class="footer-company-name">jphasha | mmahloko | momogash |  &copy; 2020</p>
    </div>

</footer>
