
        </main>
    </div>
</div>
<footer class="footer">
        <p class="footer-company-name">jphasha | mmahloko | momogash |  &copy; <span id="year"></span> </p>
</footer>
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/popper/popper.min.js"></script>

    <!-- Icons -->
    <script src="/js/feather/feather.min.js"></script>
    <script>
        feather.replace()
    </script>


    <script>
        //Get the current year for copyright
        $('#year').text(new Date().getFullYear());
    </script>
