<br />
<footer id="main-footer" class="bg-dark">
    <div class="container">
      <div class="row">
        <div class="col text-center py-4">
          <h3>Matcha</h3>
          <p class="footer-company-name">jphasha | mmahloko | momogash | &copy; <span id="year"></span></p>
        </div>

      </div>
    </div>
  </footer>
<!-- <footer class="footer">
        <p class="footer-company-name">jphasha | mmahloko | momogash |  &copy; <span id="year"></span> </p>
</footer> -->
<script>
    //Get the current year for copyright
    $('#year').text(new Date().getFullYear());
</script> 
