<footer class="footer-distributed">

    <div class="footer-left">

        <h3>Mat<span>cha</span></h3>
        <p class="footer-links">
            <a href="#">Home</a>
            ·
            <a href="#">Register</a>
            ·
            <a href="#">Login</a> 
            .
        </p>

        <p class="footer-company-name">mmahloko | momogash | jphasha &copy; 2020</p>
    </div>

			<!--<div class="footer-center">
				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">info.camagru.2019@gmail.com</a></p>
				</div>

			</div> -->

</footer>
