<header>
    <nav>
      <ul class="topnav">
        <li><a class="active" href="login">Home</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </nav>
  </header>