<header>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
            <span class="feather-16" data-feather="heart"></span>
            Matcha
        </a>
        <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">
                Sign out
                <span class="feather-16" data-feather="log-out"></span>
            </a>
          </li>
        </ul>
    </nav>
</header>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                    <a class="nav-link active" href="home">
                        <h5>
                        <span class="feather-32" data-feather="home"></span>
                        Home <span class="sr-only">(current)</span>
                    </h5>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="profile">
                        <h5>
                            <span class="feather-32" data-feather="user"></span>
                           Profile
                        </h5>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="notifications">
                        <h5>
                            <span class="feather-32" data-feather="bell"></span>
                            <span class='badgeAlert'>0</span>
                            Notifications
                        </h5>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="messages">
                        <h5>
                            <span class="feather-32" data-feather="inbox"></span>
                            <span class='badgeAlert'>0</span>
                            Messages
                        </h5>
                    </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">