<header>
    <nav>
      <ul class="topnav">
        <li><a href="index">Home</a></li>
        <li><a href="profile">Profile</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="register">Register</a></li>
      </ul>
    </nav>
  </header>